* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  font-family: "Raleway", sans-serif;
}

body {
  margin-bottom: 12px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  /* padding: 24px; */
}

.blog-page-head {
  text-align: center;
  font-size: 60px;
  margin: 48px;
  font-weight: 600;
}

.blog {
  /* padding: 24px; */
  /* margin: 24px; */
  width: 60%;
  margin: auto;
}

.blog header {
  padding: 24px;
  font-size: 36px;
}

.blog-date {
  padding: 6px 24px 6px 24px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(54, 56, 56, 0.671);
}

.blog section {
  padding: 24px;
  font-size: 24px;
  color: rgb(47, 47, 47);
}

.blog-tags {
  display: flex;
  padding: 24px;
}

.tag {
  padding: 12px;
  margin-right: 12px;
  background: rgb(236, 236, 236);
  border-radius: 5%;
  color: rgb(100, 100, 100);
}

hr {
  width: 60%;
  margin: 0 auto;
}
