html, body{
	margin: 0;
	padding: 0;
	min-width: 500px;
	height: 100%;
	animation: myanimation 10s infinite;
	text-shadow: 1px 1px 4px gray;
	color: white;
}

.center_div__content{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 35%;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	padding-top: 60px;
}

.name{
	font-size: 100px;
	font-weight: 800;
	line-height: 0.9;
	word-spacing: 0;
}

.work{
	font-size: 20px;
}

.social{
	padding: 10px;
	margin: 0;
	font-size: 65px;
	transition: all 1s ease-in-out; /**/
	/*transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);*/
}

a{
	color: white;
	border-bottom: none;
	text-decoration: none;
}

.social a:hover{
	transform: scale(1.2);
}

@keyframes myanimation {
  0% {background-color: #9D5D9F;}
  25%{background-color:#EA739C;}
  50%{background-color:#EC748A;}
  75% {background-color: #975C9A;}
  100% {background-color: #9D5D9F;}
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .name{
  	font-size: 80px;
  }

  .work{
  	font-size: 14px;
  }

  .social{
  	font-size: 85px;
  }
}